.ds-badge {
  display: inline-flex;
  align-items: flex-start;
  padding-block: var(--ds-space-100) var(--ds-space-150);
  padding-inline: var(--ds-space-250);
  border-radius: var(--ds-radius-lg);
  overflow: clip;

  font-family: var(--ds-font-family-sans);
  font-size: var(--ds-text-label-small-size);
  font-weight: var(--ds-text-label-small-weight);
  line-height: var(--ds-text-label-small-line-height);
  letter-spacing: var(--ds-text-label-small-letter-spacing);
  white-space: nowrap;

  &.ds-badge--red {
    background: var(--ds-color-red-100);
    color: var(--ds-color-red-800);
  }

  &.ds-badge--blue {
    background: var(--ds-color-primary-blue-100);
    color: var(--ds-color-primary-blue-900);
  }
}
